trigger:
  branches:
    include:
      - main

variables:
  nodeVersion: '18.x'
  azureSubscription: 'NAME_OF_SERVICE_CONNECTION'
  appName: 'NAME_OF_WEB_APP'
  packagePath: '$(Pipeline.Workspace)/drop/zenx.zip'

stages:
  - stage: Build
    displayName: Build and Package
    jobs:
      - job: Build
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - checkout: self

          - task: NodeTool@0
            displayName: Set Node.js version
            inputs:
              versionSpec: $(nodeVersion)

          - script: npm install
            displayName: Install dependencies

          - script: npm run lint
            displayName: Run lint

          - task: ArchiveFiles@2
            displayName: Archive workspace
            inputs:
              rootFolderOrFile: $(System.DefaultWorkingDirectory)
              archiveType: zip
              includeRootFolder: false
              archiveFile: $(Build.ArtifactStagingDirectory)/zenx.zip
              replaceExistingArchive: true

          - publish: $(Build.ArtifactStagingDirectory)/zenx.zip
            displayName: Publish artifact
            artifact: drop

  - stage: Deploy
    displayName: Deploy to Azure Web App
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: DeployWebApp
        environment: production
        strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  displayName: Download artifact
                  artifact: drop

                - task: AzureWebApp@1
                  displayName: Deploy package
                  inputs:
                    azureSubscription: $(azureSubscription)
                    appName: $(appName)
                    package: $(packagePath)
